Package: gcc-10-base
Source: gcc-10
Version: 10.2.1-6
Architecture: armhf
Maintainer: Debian GCC Maintainers <debian-gcc@lists.debian.org>
Installed-Size: 261
Breaks: gnat (<< 7)
Section: libs
Priority: required
Multi-Arch: same
Homepage: http://gcc.gnu.org/
Description: GCC, the GNU Compiler Collection (base package)
 This package contains files common to all languages and libraries
 contained in the GNU Compiler Collection (GCC).
