    body {
        background-color: #1f1f1f;
        color: white;
    }

    .card-header {
        background-color: #2f2f2f;
    }
    .card-body {
        background-color: #1f1f1f;
    }
    .jumbotron {
        background-color: #2f2f2f;
    }

    .list-group-item {
        background-color: #1f1f1f;
        border-color:  #2f2f2f;;
    }

    html.can-touch .link-item:hover{ /* disable hover effect when input is touch */
        background-color: #1f1f1f;
    }
    
    html.can-touch .link-item:active{ /* disable hover effect when input is touch */
        background-color: #1f1f1f;
    }

}