Package: ethtool
Version: 1:5.9-1
Architecture: armhf
Maintainer: Debian Kernel Team <debian-kernel@lists.debian.org>
Installed-Size: 460
Depends: libc6 (>= 2.7), libmnl0 (>= 1.0.3-4~)
Section: net
Priority: optional
Homepage: https://www.kernel.org/pub/software/network/ethtool/
Description: display or change Ethernet device settings
 ethtool can be used to query and change settings such as speed, auto-
 negotiation and checksum offload on many network devices, especially
 Ethernet devices.
